<lift:surround with="default" at="content">
  <head>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async="async"
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
</script>
</head>

<lift:snippet type="AbnahmeTestSnippet.TestSolution" >
  <div>
    <div id="loader"></div>
    <div>
      <span id="resourceFiles"></span>
    </div>
    
    <h2><span id="exName"></span></h2>
  </div>
</lift:snippet>
<script type="text/javascript">
  startSpinner()
</script>

</lift:surround>
