<lift:surround with="default" at="content">
  <lift:snippet type="AdminFlashcardCoursesSnippet.list" form="post">
    <h2 id="title"></h2>
    <div id="content"></div>
  </lift:snippet>
</lift:surround>
