<lift:surround with="default" at="content">
    <head>
    </head>
    <div data-lift="CourseSnippet.showCourse">
        <h2><span id="course"/> <span id="term"/></h2>
        <div id="exerciseSheet"/>
    </div>
</lift:surround>
