<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }

        </style>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }

        </style>
	  <style type="text/css">
.vertical-text {
 writing-mode: vertical-rl;
}
    .vertical-text span {
 text-orientation: upright;
 }
  </style>


	
    </head>
    <div data-lift="CoursePageStudentResultsSnippet.studentResult">
        <table>
          <tbody>
            <tr>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.name/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.exercise/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.tests/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.failures/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.errors/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.lostMemory/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.styleCheckErrors/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.score/></span>
                </th>
                <th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.comments/></span>
                </th>
            </tr>

            <tr id="row"></tr>

	    
            </tbody>
        </table>
<!--	<div id="grantButton"></div> -->
    </div>
</lift:surround>
