<lift:surround with="default" at="content">
  <lift:snippet type="CoursePageSnippet.createLessonForm" form="post">
    <h2><span id="course"></span> <span id="term"></span></h2>
    <span id="date"></span> 
    <span id="create"/>
  </lift:snippet>
</lift:surround>

