<lift:surround with="default" at="content">
    <lift:snippet type="DuelSnippet.createForm" form="post">
        <div>
            <link rel="stylesheet" href="/static/card.css">
            <b>
                <lift:Loc.course/>
            </b>
            <div id="courseSelector"></div>
            <div id="submit"></div>
    </lift:snippet>
</lift:surround>
