<lift:surround with="default" at="content">
    <lift:snippet type="CardsSnippet.CreateForm" form="post">
        <div>
            <link rel="stylesheet" href="/static/card.css">
            <b>
                <lift:Loc.course/>
            </b>
            <div id="courseSelector"></div>
            <b>
                <lift:Loc.name/>
            </b>
            <div id="name"></div>
            <b>
                <lift:Loc.description/>
            </b>
            <div id="description"></div>
            <div id="submit"></div>
    </lift:snippet>
</lift:surround>
