<lift:surround with="default" at="content">
  <head>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async="async"
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
</script>
</head>

<lift:snippet type="EditResourceSnippet.deleteForm" form="post">
  <div>
    <div id="javascript"></div>
    <div id="loader"></div>
    
    <h2><span id="exName"></span></h2>
    <div style="border: 1px solid #ccc;">
      <span id="solution"></span>
    </div>
    <br>
    <span id="hiddenResourcePath"></span>
    <div>
      <span id="resourceFile"></span>
    </div>
    <span id="abbrechen"></span>
    <span id="submit"></span>
  </div>
</lift:snippet>

</lift:surround>
