<lift:surround with="card" at="content">
    <lift:snippet type="DuelSnippet.display">
        <lift:comet type="DuelComet" id="comet" name="Other">
            <div class="card">
                <div class="innercard">
                    <center>
                        <h1>
                            <lift:Loc.duel/>
                        </h1>
                        <h4>(<span id="time">letzte Änderung</span>)</h4>
                        <h2><span id="course">Fragen zu...</span></h2>
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <center><h2><span id="player1">unknown player 1</span></h2>
                                            <h1><span id="points1">0</span></h1></center>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div>
                                        <center><h2><span id="player2">unknown player 2</span></h2>
                                            <h1><span id="points2">0</span></h1></center>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left"><span id="b1_1">&nbsp;</span><span id="b1_2">&nbsp;</span> <span
                                        id="b1_3">&nbsp;</span></td>
                                <td style="text-align: center;"><span><lift:Loc.round></lift:Loc.round>  1</span></td>
                                <td align="right"><span id="b2_3">&nbsp;</span><span id="b2_2">&nbsp;</span><span
                                        id="b2_1">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><span id="b1_4">&nbsp;</span><span id="b1_5">&nbsp;</span><span
                                        id="b1_6">&nbsp;</span></td>
                                <td style="text-align: center;">
                                    <lift:Loc.round></lift:Loc.round>
                                    2
                                </td>
                                <td><span id="b2_6">&nbsp;</span><span id="b2_5">&nbsp;</span><span
                                        id="b2_4">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><span id="b1_7">&nbsp;</span><span id="b1_8">&nbsp;</span><span
                                        id="b1_9">&nbsp;</span></td>
                                <td style="text-align: center;">
                                    <lift:Loc.round></lift:Loc.round>
                                    3
                                </td>
                                <td><span id="b2_9">&nbsp;</span><span id="b2_8">&nbsp;</span><span
                                        id="b2_7">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><span id="b1_10">&nbsp;</span><span id="b1_11">&nbsp;</span><span
                                        id="b1_12">&nbsp;</span></td>
                                <td style="text-align: center;">
                                    <lift:Loc.round></lift:Loc.round>
                                    4
                                </td>
                                <td><span id="b2_12">&nbsp;</span><span id="b2_11">&nbsp;</span><span
                                        id="b2_10">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td><span id="b1_13">&nbsp;</span><span id="b1_14">&nbsp;</span><span
                                        id="b1_15">&nbsp;</span></td>
                                <td style="text-align: center;">
                                    <lift:Loc.round></lift:Loc.round>
                                    5
                                </td>
                                <td><span id="b2_15">&nbsp;</span><span id="b2_14">&nbsp;</span><span
                                        id="b2_13">&nbsp;</span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: center;"><span></span></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: center;"><span id="playOrWait">Play Or Wait</span></td>
                                <td></td>
                            </tr>
                        </table>
                    </center>
                    <div style="float: right;"><a href="/">
                        <small><img height="12px" src="/icon.png" style="vertical-align: middle;"/>Subato
                    </a></small></div>
                </div>
            </div>
        </lift:comet>
    </lift:snippet>
</lift:surround>
