<lift:surround with="default" at="content">
    <link rel="stylesheet" href="/static/card.css">
    <lift:snippet type="DuelListSnippet.list">
        <div>
            <h1 id="header1"></h1>
            <a class="pushButton" id="startduel" href="CreateNewDuel">
                <lift:Loc.createnewduel/>
            </a>
            <p>
            <h2 style="background: #BBBBBB;">
                <lift:Loc.openduels/>
            </h2>
            <div id="openDuels"></div>

            <h2 style="background: #BBBBBB;">
                <lift:Loc.finishedduels/>
            </h2>
            <div id="finishedDuels"></div>
            </p>
        </div>
    </lift:snippet>
</lift:surround>
