<lift:surround with="default" at="content">


<lift:snippet type="LessonSnippet.edit" form="post">
  <div>
    <h2><span id="date"></span> <span id="coursePageName"></span></h2>
    <h4><lift:Loc.pagetext/></h4>
    <span id="description"></span>
    <div><lift:Loc.ispublic></lift:Loc.ispublic>: <span id="isPublic"></span></div>
    <div><lift:Loc.lecturer></lift:Loc.lecturer>:  <span id="lecturer"></span></div>
    <span id="hiddenLesson"></span>
    <span id="submit"></span>
  </div>
</lift:snippet>
</lift:surround>
