<lift:surround with="default" at="content">


<lift:snippet type="CoursePageSnippet.edit" form="post">
  <div>
    <h2><span id="courseName"></span> (<span id="termName"></span>)</h2>
    <h4><lift:Loc.pagetext/></h4>
    <span id="description"></span>
    <div><lift:Loc.ispublic></lift:Loc.ispublic>: <span id="isPublic"></span></div>
    <div><lift:Loc.lecturer></lift:Loc.lecturer>:  <span id="lecturer"></span></div>
    <span id="hiddenCourse"></span>
    <span id="hiddenTerm"></span>
    <span id="submit"></span>
  </div>
</lift:snippet>
</lift:surround>
