<lift:surround with="default" at="content">
      <div id="loader"></div>
      <div data-lift="ExerciseSheetSnippet.showSheet">
    
        <h4>(<span id="course"></span> <span id="term"></span>)</h4>
        <h2><span id="number"></span></h2>
        <h3><span id="exerciseSheet"></span></h3>
	<h3><span id="lastSubmission"></span></h3>
	<div id="description"></div>
        <ul>
            <div id="exercise"/>
        </ul>
    </div>
</lift:surround>
