<li class="course-row list-group-item">
  <style>
    .tooltip-inner {
    width: 400px;
    max-width: 400px;
    text-align: left;
    }
  </style>
  <div class="course-details" style="display: inline-block;">
    <span style="display: block;">
      <h6 style="display: inline-block;">
	<a href="#" class="" id="road-to-course-view">
	  <span id="courseName" data-toggle="tooltip" title="" data-html="true"></span>
	</a>
      </h6>
      <div id="courseThemes" style="display: inline-block; margin-left: 3px;">
      </div>
    </span>
    <div style="display: inline-block;"><span id="courseDescription"></span></div>
  </div>

  <span class="badge badge-info" id="owner-badge" data-toggle="tooltip" title="" style="position: absolute; display: inline-block; right: 30.5%; top: 37%; vertical-align: middle; max-width: 100px;"></span>
  <span class="badge badge-info" id="cards-number-badge" data-toggle="tooltip" title="" style="position: absolute; display: inline-block; right: 23%; top: 37%; vertical-align: middle; max-width: 100px;"></span>
  
  <div class="subscription-difficulty" style="position: absolute; display: inline-block; right: 1.5%; top: 25%; vertical-align: middle;">
    <div class="difficulty" style="display: inline-block; vertical-align: middle; margin-right: 14px;" data-toggle="tooltip" data-placement="top" title="Earned stars in this course">
      <div id="privacy" style="position: absolute; right: 200px;" data-toggle="tooltip" data-placement="left" title="This Course is accessible by every user"></div>
      <div id="fgStars"/>
    </div>
 
    <div class="dropdown dropright" style="display: inline-block;">
      <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" type="button" id="sls-course-opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">options</button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sls-course-opt">
	<button class="dropdown-item" id="subscriptionBtn"></button>
	<a class="dropdown-item" id="editBtn">Edit</a> 
	<button class="dropdown-item" id="deletionBtn">delete</button>
	<a class="dropdown-item" id="exportBtn">XML Export</a>
	<a class="dropdown-item" id="exportCatsBtn">Cats XML Export</a>
	<a class="dropdown-item" id="exportPDFBtn">Download Cards as PDF in A6 format</a>
	<!-- nowhere used yet -->
	<!-- <button class="dropdown-item disabled" id="createFromStudio">Statistics</button> -->
      </div>
    </div>
  </div>
</li>
