<lift:surround with="default" at="content">
    <lift:snippet type="ImportCardBoxSnippet.importCardBox" form="post" multipart="true">
        <div>
            <h2><span id="course"/></h2>
            <div>
                <span id="file"></span>
                <span id="submit"></span>
            </div>
    </lift:snippet>
</lift:surround>
