<lift:surround with="default" at="content">
  <head>
  </head>
  <lift:snippet type="CoursePageSnippet.joinCoursePage" form="post">
    <div id="title"></div>
    <span id="groupField"></span>
    <span id="submit"></span>
  </lift:snippet>
</lift:surround>
