<lift:surround with="default" at="content">
    <head>
    </head>
    <h2>
        <lift:Loc.classes/>
    </h2>
    <div>
        <lift:Loc.listcourseexplanation/>
    </div>
    <p>
    <div data-lift="ListCoursesSnippet.list">
        <h2><span id="title"/></h2>
        <ul>
            <li id="name"/>
        </ul>
    </div>
    </p>
</lift:surround>
