<lift:surround with="default" at="content">
    <lift:snippet type="ListExercisesSnippet.listExerciseSheets" form="post">
        <div>
            <h2><span id="courseName"></span></h2>
            <table id="show_all" class="myshow_all">
                <thead>
                <tr>
                    <th class="myheader-item">
                        <lift:Loc.number/>
                    </th>
                    <th class="myheader-item">
                        <lift:Loc.name/>
                    </th>
                    <th class="myheader-item">
                        <lift:Loc.term/>
                    </th>
                    <th class="myheader-item"></th>
                    <th class="myheader-item"></th>
                    <th class="myheader-item"></th>
                    <th class="myheader-item"></th>
                </tr>
                </thead>

                <tbody>
                <tr id="row"></tr>
                </tbody>
            </table>
    </lift:snippet>
</lift:surround>
