<lift:surround with="default" at="content">
    <lift:snippet type="ExerciseSheetSnippet.listEntries" form="post">
        <div>
            <h2><span id="sheetName"></span></h2>
            <table id="show_all" class="myshow_all">
                <thead>
                <tr>
                    <th class="myheader-item">
                        <lift:Loc.number/>
                    </th>
                    <th class="myheader-item">
                        <lift:Loc.exercise/>
                    </th>
                    <th class="myheader-item"></th>
                    <th class="myheader-item"></th>
                    <th class="myheader-item"></th>
                </tr>
                </thead>

                <tbody>
                <tr id="row"></tr>
                </tbody>
            </table>
            <span id="addEntry"></span>
	    <span id="back"></span>
			
    </lift:snippet>
</lift:surround>
