<lift:surround with="default" at="content">
    <lift:snippet type="ResourceFileSnippet.List" form="post">
        <h3 id="exerciseName"></h3>
        <table id="show_all" class="show_all">
            <thead>
            <tr>
                <th class="myheader-item">
                    <lift:Loc.name/>
                </th>
                <th class="myheader-item">
                    <lift:Loc.description/>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr id="row" class="myrow">
                <!--          <td class="myrow-item" id="name"></td>
                      <td class="myrow-item" id="description"></td>
                          <td><span id="edit"></span></td>
                      <td><span id="delete"></span></td> -->
            </tr>
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
        <div id="add"></div>
	<div id="upload"></div>
    </lift:snippet>
</lift:surround>
