<lift:surround with="default" at="content">
    <lift:snippet type="GroupDetailSnippet.listMember" form="post">
        <h3 id="courseName"></h3>
        <table id="show_all" class="show_all">
            <thead>
            <tr>
                <th class="myheader-item">
                    <lift:Loc.name/>
                </th>
                <th class="myheader-item">
                    <lift:Loc.group></lift:Loc.group>
                </th> 
<!--                <th></th>
                <th></th> -->
            </tr>
            </thead>
            <tbody>
            <tr id="row" class="myrow">
            </tr>
            </tbody>
            <tfoot>
            <tr></tr>
            </tfoot>
        </table>
    </lift:snippet>
</lift:surround>
