<lift:surround with="default" at="content">
    <div data-lift="SheetSnippet.List">
        <h2><span id="course"></span> <span id="term"></span></h2>
        <table>
            <thead>
            <tr>
                <th class="myheader-item">
                    <lift:Loc.number/>
                </th>
                <th class="myheader-item">
                    <lift:Loc.name/>
                </th>
                <th class="myheader-item">
                    <lift:Loc.term/>
                </th>
                <th class="myheader-item"></th>
                <th class="myheader-item"></th>
                <th class="myheader-item"></th>
                <th class="myheader-item"></th>
            </tr>
            </thead>
            <tbody>
            <tr id="row"></tr>
            </tbody>
        </table>
        <span id="create"></span>
        <span id="back"></span>
    </div>
</lift:surround>
