<lift:surround with="default" at="content">
    <head>
        <script language="javascript" type="text/javascript"
                src="/static/editarea_0_8_2/edit_area/edit_area_full.js"></script>

        <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});

        </script>
        <script type="text/javascript" async="async"
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
        </script>
    </head>

    <lift:snippet type="CardsSnippet.CreateCardForm" form="post">
        <div>
            <b>
                <lift:Loc.course/>
            </b>
            <div id="courseSelector"></div>
            <b>
                <lift:Loc.cardtype/>
            </b>
            <div id="cardType"></div>
            <b>
                <lift:Loc.question/>
            </b>
            <div id="question"></div>
            <b>
                <lift:Loc.answers/>
            </b>
            <div id="answers"></div>
            <b>
                <lift:Loc.explanation/>
            </b>
            <div id="explanation"></div>
            <div id="submit"></div>
    </lift:snippet>
</lift:surround>
