<lift:surround with="SlsTemplate" at="content">
  <div class="container">
      <h1><lift:Loc.subatolearningsystem /></h1>
      <hr>
  </div>
  <div class="container">
    <div class="nav navbar nav-tabs">
      <ul class="nav nav-pills" role="tablist" data-lift="SlsSnippet.initSearchBar">
	<li class="nav-item">
	  <a class="nav-link" href="#" data-toggle="pill" id="myCoursesFilter"><lift:Loc.mycourses /></a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="#" data-toggle="pill" id="starredCoursesFilter"><lift:Loc.starredcourses /></a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="#" data-toggle="pill" id="exploreCourseFilter"><lift:Loc.explorecourses /></a>
	</li>
      </ul>
      <lift:snippet class="form-inline my-2 my-lg-0" type="SlsSnippet.activateFinder" form="post" multipart="true">
	<input class="form-control mr-sm-2" id="iFinder" data-toggle="tooltip" data-placement="top" title="t: by topic | n: by name | o: by owner" placeholder="Search..." aria-label="Search">
	<div class="dropdown">
	  <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" type="button" id="sls-crud" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><lift:Loc.newcourse /></button>
	  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sls-crud">
	    <span class="dropdown-item"><span id="slsCourseImport"></span><span id="file"></span></span>
	    <a class="dropdown-item" id="createFromStudio" href="/SlsStudio"><lift:Loc.fromflashcardstudio /></a>
	  </div>
	</div>
      </lift:snippet>
    </div>
    <div class="list-inline" data-lift="SlsSnippet.listCourses">
      <ul class="list-group list-group-flush" id="listOfCourses_"><div id="listOfCourses"/></ul>
    </div>

    <div style="position: relative;" data-lift="SlsSnippet.initNavButtons">
      <div id="next-expand-course-listing" style="position: absolute; left: 50%; right: 50%; top: 30px;">
	<div id="navBtnGr">
	  <button class="btn btn-outline-info" id="prevBtn"><lift:Loc.prev /></button>
	  <button class="btn btn-outline-info" id="nextBtn"><lift:Loc.next /></button>
	</div>
      </div>
    </div>
    <script>
    	 function simulateOnChange() {
           $('#iFinder').trigger("change");
         }
        
    	 var option = { 
           callback:      simulateOnChange,
    	   wait:          800,
           highlight:     false,
    	   allowSubmit:   false,
    	   captureLength: 1
	 };
	 
         $("#iFinder").typeWatch(option);
	 $(document).ready(function() {
	   $('[data-html="true"]').tooltip();
	 });
    </script>
  </div>
</lift:surround>
