<lift:surround with="SlsTemplate" at="content">
  <div data-lift="SlsCourseSnippet.progress"><script id="progressBarScript"></script></div>
  <div data-lift="SlsCourseSnippet.showCourseInfo"><script id="infoDropdownScript"></script></div>
  <form data-lift="SlsCourseSnippet.showMultiple" class="container" method="post">
    <link rel="stylesheet" href="/static/sls/css/SlsCard.css">
    <link rel="stylesheet" href="/static/sls/css/cardsMobile.css">
    <div class="card mb-3 sls-card border-info" id="sls-card">
      <div style="clear:left;" id="hidden"></div>
      <div class="card-header text-center sls-card-header" style="border-color: rgba(23, 162, 184, 0.4);">
	<div><h3 class="sls-card-name" id="name"></h3></div>
	<div><span style="position: absolute; right: 2%;" class="badge badge-pill badge-warning" id="card-topics" data-toggle="tooltip" title="">Topics</span></div>
      </div>
      <div class="card-body">
	<div id="loader"></div>
	<div class="question" style="clear:left;" id="question"></div>
	<div class="numberlist_">
          <ol>
            <li id="selectionItem"></li>
          </ol>
        </div>
	<div style="float: right;" class="subato-logo-in-card"><a href="/">
            <small><img height="12px" src="/icon.png" style="margin-bottom: 5.5%;"/>Subato
          </a></small>
	</div>
      </div>
    </div>
  </form>
</lift:surround>

