<lift:surround with="SlsTemplate" at="content">
  <div class="container">
    <h2>Statistical Data Overview</h2>
    <hr>
    <div data-lift="StatisticalDataSnippet.show">
      <div id="statistical-data-list">
	<div id="statistical-data-list_"></div>
      </div>
    </div>
  </div>
</lift:surround>

