<lift:surround with="SlsTemplate" at="content">
  <script id="cardContainer" data-lift="SlsStudioSnippet.initClientSideVariables">
  </script>
  <form method="post" class="container" id="studio-body" style="margin-top: 75px;">
    <link rel="stylesheet" href="/static/sls/css/SlsStudio.css">
    <div class="card mb-3 sls-studio-card border-info" id="sls-card">
      <div style="clear:left;" id="hidden"></div>
      <div class="card-header sls-studio-card-header">
	<span id="studioTitle" class="sls-studio-title">Flashcard course <strong>studio</strong></span>
      </div>

      <ul class="list-group list-group-flush">
      	<li class="list-group-item" style="border-bottom-width: medium; height: 400px;" ondragover="allowDrop(event)" ondrop="drop(event)">
	  <nav>
	    <div class="nav nav-tabs" id="upper-nav-tab" role="tablist">
	      <a class="nav-item nav-link active" id="nav-all-cards" data-toggle="tab" href="#all-cards-container" role="tab" aria-controls="all-cards-content" aria-selected="true">All available cards</a>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="left: 40px; position: relative;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" id="card-by-name" data-lift="SlsStudioSnippet.activateCardSearch" class="input-group-text"><i class="fa fa-search"></i></button>
                    </div>
                    <input type="text" style="width: 200px;" autocomplete="off" class="form-control" id="topicSearch" list="topicsDB" name="lastSelectedTopic" size="6" placeholder="Search card by topic">
                    <datalist id="topicsDB"></datalist>
                </div>
            </div>

		</div>
	  </nav>
	  <div class="tab-content" id="selectable-contents" style="position: relative; margin-top: 25px;">

	    <div class="tab-pane fade show active" style="max-height: 300px; overflow-y: auto;" id="all-cards-container" role="tabpanel" aria-labelledby="nav-all-cards">

	      <div id="selectable-cards"></div>
	    </div>
	  </div>

	</li>

	<li class="list-group-item" id="" style="border-radius: 0px 0px 25px 25px; min-height: 400px"  ondragover="allowDrop(event)" ondrop="drop(event)">

	  <nav>
	    <div class="nav nav-tabs" id="nav-tab" role="tablist">
	        <a class="nav-item nav-link active" id="nav-choosed-cards-tab" data-toggle="tab" href="#nav-choosed-cards" role="tab" aria-controls="nav-choosed-cards" aria-selected="true">Selected cards</a>
            <a class="nav-item nav-link" id="nav-create-cards-tab" data-toggle="tab" onclick="showOnlyNeededEditors();" href="#nav-create-cards" role="tab" aria-controls="nav-create-cards" aria-selected="false">Create cards</a>
            <a class="nav-item nav-link" id="nav-course-characteristics-tab" data-toggle="tab" href="#nav-course-characteristics" role="tab" aria-controls="nav-course-characteristics" aria-selected="false">Characteristics</a>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups" style="left: 40px; position: relative;">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" id="course-by-name" data-lift="SlsStudioSnippet.activateCourseSearch" class="input-group-text"><i class="fa fa-search"></i></button>
                </div>
                <input type="text" style="width: 200px;" autocomplete="off" class="form-control" id="research-in" list="my-course-names" name="lastSelectedTopic" size="6" data-lift="SlsStudioSnippet.activateCourseSearch" placeholder="Search course by name">
                 <datalist id="my-course-names"></datalist>
            </div>
            </div>
        </div>
	  </nav>
	  <div class="tab-content" id="nav-tabContent" style="position: relative; margin-top: 25px;">

	    <div class="tab-pane fade show active" style="max-height: 300px; overflow-y: auto;" id="nav-choosed-cards" role="tabpanel" aria-labelledby="nav-choosed-cards-tab">
	      <span style="display: inline-block;" id="number-choosed-cards" class="badge badge-info">Number: 0</span>
	      <div id="selected-cards"></div>
	    </div>

	    <div class="tab-pane fade" id="nav-course-characteristics" role="tabpanel" aria-labelledby="nav-course-characteristics-tab">

	      <div class="form-group row">
		<label for="courseName" class="col-sm-2 col-form-label">Course Name</label>
		<div class="col-sm-10">
		  <input class="form-control" id="courseName" placeholder="Max. 100 Characters" maxlength="100" style="width: 275px;">
		</div>
	      </div>

	      <div class="form-group row">
		<label for="courseTopics" class="col-sm-2 col-form-label">Course Topics</label>
		<div class="col-sm-10">
		  <input class="form-control" id="courseTopics" placeholder="Comma separated" style="width: 350px;">
		</div>
	      </div>

	      <div class="form-group row">
		<label for="privacy" class="col-sm-2 col-form-label">Privacy</label>
		<div class="col-sm-10">
		  <select class="btn btn-outline-primary dropdown-toggle sls-select-icons" id="coursePrivacy" style="width: auto;">
		    <option id="course-private" selected>&#xf023; private</option>
		    <option id="course-public">&#xf09c; public</option>
		  </select>
		</div>
	      </div>

	      <div class="form-group row">
		<label for="courseDescription" class="col-sm-2 col-form-label">Course description</label>
		<div class="col-sm-10">
		  <input class="form-control" id="courseDescription" placeholder="Max. 1000 Characters" maxlength="1000" style="width: 780px;">
		</div>
	      </div>

	      <button type="button" id="create-course-btn" course-id="" data-lift="SlsStudioSnippet.bindCreationButton" class="btn btn-primary" style="margin-left: 50%; transform: translateX(-50%);">Create course</button>

	    </div>

		  <div class="tab-pane fade" id="nav-create-cards" role="tabpanel" aria-labelledby="nav-create-cards-tab">
              <div class="form-group row">
                  <label for="card-title" class="col-sm-2 col-form-label">Card Title</label>
                  <div class="col-sm-10">
                      <input class="form-control" id="card-title" placeholder="Max. 100 Characters" maxlength="100" style="width: 275px;">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="card-topics" class="col-sm-2 col-form-label">Card Topics</label>
                  <div class="col-sm-10">
                      <input class="form-control" id="card-topics" placeholder="Comma separated" style="width: 350px;">
                  </div>
              </div>

              <div class="form-group row">
                  <label for="card-type" class="col-sm-2 col-form-label">Card Type</label>
                  <div class="col-sm-10">
                      <select class="btn btn-outline-primary dropdown-toggle sls-select-icons" onchange="showOnlyNeededEditors()" id="card-type" style="width: auto;">
                          <option disabled>clozetext</option>
                          <option selected>freetext</option>
                          <option>multiplechoice</option>
                          <option disabled>programming</option>
                          <option>valuelist</option>
                          <option>valueselection</option>
                      </select>
                  </div>
              </div>

			  <div class="form-group row" id="prog-lang-row" style="display: none;">
				  <label for="prog-lang" class="col-sm-2 col-form-label">Language</label>
				  <div class="col-sm-10">
					  <select class="btn btn-outline-primary dropdown-toggle sls-select-icons" onchange="displayCodeEditor()" id="prog-lang" style="width: auto;">
						  <option disabled>c</option>
						  <option disabled>haskell</option>
						  <option selected>java</option>
						  <option disabled>javascript</option>
					  </select>
				  </div>
			  </div>


              <div class="form-group row sls-studio-editor-row" id="question-row">
                  <label for="question-container" class="col-sm-2 col-form-label">Question</label>
                  <div id="question-container" class="sls-text-editor-container">
                      <div id="question-editor">
                      </div>
                  </div>
              </div>

			  <div class="form-group row sls-studio-editor-row" style="display: none;" id="code-editor-row" data-lift="SlsStudioSnippet.activateCodePlayerButton">
				  <label for="code-editor-container" class="col-sm-2 col-form-label" id="prog-lang-icon"></label>
			  <div id="code-editor-container" class="sls-code-editor-container">
				  <div id="code-editor" class="sls-code-editor-container"></div>
			  </div>
                  <button style="margin-left: 2%;" class="btn btn-primary" onclick="" id="run-code-btn" type="button">Run »</button>
			  </div>

              <div class="form-group row sls-studio-editor-row" style="display: none;" id="answer-row">
                  <label for="answers-container" class="col-sm-2 col-form-label">Answers</label>
                  <div id="answers-container" class="sls-text-editor-container">
					  <div id="answer-editor">
                      </div>
                  </div>
				  <button type="button" id="create-answer-btn" style="display: inline; left: 30px; position: relative; height: 40px;" class="btn btn-outline-primary" onclick="createAnswer()">Add</button>
				  <div><ul id="answers-list" style="top: 60px; position: relative; left: 160px;"></ul></div>
			  </div>

			  <div class="form-group row sls-studio-editor-row">
				  <label for="explanation-container" class="col-sm-2 col-form-label">Explanation</label>
				  <div id="explanation-container" class="sls-text-editor-container">
					  <div id="explanation-editor">
					  </div>
				  </div>
			  </div>
              <button type="button" id="create-card-btn" data-lift="SlsStudioSnippet.bindCreationButton" onclick="addNewCardIfValid()" class="btn btn-primary" style="margin-left: 50%; transform: translateX(-50%);">Create card</button>

		  </div>
	  </div>
	</li>
      </ul>
    </div>
    <script src="/static/sls/js/SlsStudio.js"></script>
	  <script src="/static/sls/js/SlsInitialCodes.js"></script>
	  <script src="/static/sls/js/SlsStudioEditor.js"></script>
	  <script type="text/javascript" src="/static/sls/js/src-min-noconflict/ace.js"></script>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css">
  </form>
</lift:surround>
