<lift:surround with="default" at="content">
    <head>
        <style type="text/css">
      div#content h3 {
      margin-top:1em;
      margin-bottom:0.5em;
      }

        </style>
	  <style type="text/css">
.vertical-text {
 writing-mode: vertical-rl;
}
    .vertical-text span {
 text-orientation: upright;
 }
  </style>

    </head>
    <div data-lift="ResultsSnippet.studentTestsByExercise">
        <table>
            <tbody>
            <tr>
                <th  style="vertical-align: bottom">
                    <!--<lift:Loc.name/>--> <span class="vertical-text">UID</span>
                </th>
		<th  style="vertical-align: bottom">
                    <span class="vertical-text"><lift:Loc.name/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text"><lift:Loc.labgroup /></span>
                </th>
                <th  style="vertical-align: bottom">
                   <span class="vertical-text"> <lift:Loc.tests/></span>
                </th>
                <th  style="vertical-align: bottom">
                   <span class="vertical-text"> <lift:Loc.failures/></span>
                </th>
                <th  style="vertical-align: bottom">
                   <span class="vertical-text"> <lift:Loc.errors/></span>
                </th>
                <th  style="vertical-align: bottom">
                   <span class="vertical-text"> <lift:Loc.lostmemory/></span>
                </th>
                <th  style="vertical-align: bottom">
                   <span class="vertical-text"> <lift:Loc.stylecheckerrors/></span>
                </th>
                <th  style="vertical-align: bottom">
                  <span class="vertical-text">  <lift:Loc.successfulltests/></span>
                </th>
                <th  style="vertical-align: bottom">
                   <span class="vertical-text"> <lift:Loc.comments/></span>
                </th>
            </tr>

            <tr id="row"></tr>

            </tbody>
        </table>
    </div>
</lift:surround>
