<lift:surround with="default" at="content">
    <body>
    <lift:snippet type="SurveySnippet.thanks">
        <h1 id="title"></h1>
        <div class="question" style="clear:left;" id="question"></div>
        <div id="number"></div>
        <div id="content"></div>
    </lift:snippet>
    </body>
    </html>
