<lift:surround with="default" at="content">
  <head>
  </head>

<lift:snippet type="TGZSubmissionsSnippet.Generate" >
         
  <div>
    <div id="loader"></div>
    <div id="downloadResult"></div>    
    <h2>Tar Command Output</h2>
    <div id="tarOutput">
    </div>
  </div>

</lift:snippet>

</lift:surround>
