<lift:surround with="default" at="content">
  <head>
  </head>

  <lift:snippet type="UploadFileSnippet.upload" form="post" multipart="true">
    <div>
      <h2><span id="exercise"/></h2>
      <div class="column span-24 bordered">
        <span>Datei: </span><span id="file"></span><br>
        <span>Datei wird in Tests verwendet: (nur für src Dateien auswählen) </span><span id="isSrcFile"></span><br>
        <span id="submit"></span>
      </div>
    </lift:snippet>
</lift:surround>
