.sls-studio-card {
    width: 1000px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    border-width: medium;
}

.sls-studio-sub-card {
    width: 500px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
    border-width: medium;
    margin-bottom: 20px;
}

.sls-studio-title {
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    margin-left: 28%;
}

.sls-studio-card-header {
    border-radius: 25px 25px 0px 0px;
    border-bottom: 3px solid rgba(23, 162, 184, 0.4);
}

.sls-studio-card-footer {
    border-radius: 25px 25px 0px 0px;
    border-top: 3px solid rgba(23, 162, 184, 0.4);
}

.sls-select-icons {
    font-family: FontAwesome, sans-serif;
}

.sls-studio-editor-row {
    margin-bottom: 70px;
}

.sls-text-editor-container {
    width: 600px;
}

.sls-code-editor-container {
    width: 600px;
    height: 400px;
}

.red-alert-btn {
    background-color: rgba(255, 0, 0, 0.75);
}

img {
    max-width: 390px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
