/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
table{
	padding: 0px 0px;
	border                      :   0px ;
    margin                      :   0px 0px 0px;
	
}

.gwt-PushButton {
	color: #000000;
	font: normal 20px tahoma, arial, helvetica, sans-serif;
	padding: 0px 0px;
	border                      :   0px ;
    margin                      :   0px 0px 0px;

}


h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 0px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
