#topicSearch {
    position: absolute;
    width: 130px;
    left: 178px;
    top: 15px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 4px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    transition: transform 0.5s;
}

#courseName {
    position: absolute;
    left: 842px;
    top: 15px;
    width: 130px;
    background-color: white;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#studioTitle {
    position: absolute;
    left: 348px;
    width: 454px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 0px 0px 20px 20px;
    font-size: 30px;
    background-color: white;
    padding: 12px 20px 12px 12px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

#topicSearch:focus {
    width: 300px;
    transform: translate(-170px, 0px);
}

#courseName:focus {
    width: 300px;
}

.selectedTopic {
    box-sizing: border-box;
    max-width: 330px; 
    border-radius: 8px 8px 8px 8px;
    border: none;
    font-size: 20px;
    background-color: #ffffcc;
    padding: 5px 5px 5px 5px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.selectedTopic:hover {
    background-color: #ff0000;
}

#topicContainer {
    position: absolute;
    top: 110px;
}

#studioContainer {
    position: relative;
    width: 1150px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    background-color: #deeaee;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

hr {
    position: absolute;
    color: #000;
    background-color: #f00;
    height: 3px;
    width: 98%;
    margin-left: 1%;
}

#hrTopic {
    top: 137px;
}

#hrFlashcardContainer {
    position: relative;
    top: 10px;
}

#flashcardContainer {
    position: relative;
    top: 10px;
    border-radius: 8px 8px 8px 8px;
    background-color: #deeaee;
}

form, html, body {
    min-height: 100%;
    height: 100%;
    background-color: #fff;
}

#tail {
    position: reslative;
    transform: translate(0px, 150px);
}

#descriptionContainer {
    background-color: white;
    position: absolute;
    bottom: 95px;
    width: 90%;
    left: 5%;
    padding: 12px 20px 12px 40px;
}

.solidAndFont {
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#createCourse {
    position: absolute;
    bottom: 20px;
    left: 44%;
    width: 13%;
    padding: 12px 40px 12px 40px;
    background-color: white;
}

.redOnFocus:focus {
    border: 4px solid #f00;
}

#subatoHome {
    left: 93%;
    position: absolute;
    top: 97%;
    text-align: center;
}

.card {
  width: 500px;
  background-color: #CCCCFF;
  border-radius: 25px;
  position: relative;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -250px;
}

.innercard {
    margin: 0px 20px 0px 50px;
}

.innercard *{
    padding: 0em .2em .2em 0em;
}

.question, .cloze{
   font: 25px 'trebuchet MS', 'lucida sans';
}

.question pre{
    font-size: 14px;
}

#nextCard {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1000px;
    top: 8px;
    transform: rotate(180deg);
}

#previousCard {
    width: 50px;
    height: 50px;
    left: 950px;
    position: absolute;
    top: 8px;
}

.round {
    background-size: 50px 50px;
    background-image: url('previousOrNext.png');
    background-repeat: no-repeat;
    background-color: #deeaee;
    border: none;
}

#neededTime {
    visibility: hidden;
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    display: block;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
}

.statisticDia:hover #neededTime {
    visibility: visible;
    display: block;
    
}
